<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cleverpush">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <activity
            android:name="com.cleverpush.NotificationOpenedActivity"
            android:exported="true"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity android:name="com.cleverpush.PermissionActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:exported="false" />

        <activity
            android:name=".stories.StoryDetailActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".banner.WebViewActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <service
            android:name="com.cleverpush.service.CarouselNotificationIntentService"
            android:exported="false" />

        <service
            android:name="com.cleverpush.service.NotificationDismissIntentService"
            android:exported="false" />

        <service
            android:name="com.cleverpush.service.CleverPushGeofenceTransitionsIntentService"
            android:exported="false" />

        <service
            android:name="com.cleverpush.service.CleverPushFcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.cleverpush.service.CleverPushHmsListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.cleverpush.service.CleanUpService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />

        <receiver android:name=".GeofenceBroadcastReceiver"/>
    </application>

    <!-- START: ShortcutBadger -->

    <!-- Samsung -->
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />

    <!-- HTC -->
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />

    <!-- Sony -->
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE" />

    <!-- Apex -->
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT" />

    <!-- Solid -->
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE" />

    <!-- Huawei -->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />

    <!-- ZUK -->
    <uses-permission android:name="android.permission.READ_APP_BADGE" />

    <!-- OPPO -->
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS" />

    <!-- EvMe -->
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_READ" />
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_WRITE" />

    <!-- End: ShortcutBadger -->
</manifest>
