name: Unit Test

on:
  push:

jobs:
  build:
    name: Run Unit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout SDK
        uses: actions/checkout@v3
      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
        with:
          packages: 'tools platform-tools platforms;android-33 build-tools;31.0.0'
          cmdline-tools-version: 8092744
      - name: Maven Publish
        run: ./gradlew test --stacktrace --warning-mode=all
